<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Pagina basic </title>
</head>
<body>

    <header class="text">
        <h1>REDES SOCIAIS</h1>
        <nav class="link">
            <a href="https://www.instagram.com/?hl=pt">INSTAGRAN</a>
            <a href="">FACEBOOK</a>
            <a href="">YOUTUBE</a>
            <a href="">WHATSAPP</a>
        </nav>
    </header>

    <main>
        <h1>O QUE A REDE SOCIAL NOS TROUXE</h1>
        <p>BENIFICIOS DA REDE SOCIAIS, ONDE PODEMOS APRENDER A CADA DIA. E PODENDO COMPARTILHAR MOMENTOS E SABEDORIAS A TODOS. COM RESPOSABILIDADE</p>
        <div class="digite">
            <input type="digite " placeholder="Digite sobre a rede social">
        </div>
        <br>
        <img src="../../assets/image/instagram.png" width="250" height="252" alt="logo instagram.png">
        <img src="../../assets/facebook.png" width="250" height="252" alt="logo facebook.png">
        <img src="../../assets/image/video.png" width="250" height="252" alt="logo youtube.png">
        <img src="../../assets/app.png" width="250" height="252" alt="logo whatsapp.png">
       
        <div class="digit">
            <input type="digite " placeholder="Digite sobre a rede social">
        </div>
        
    </main>
    <footer class="bottom">
        <p>© 2024 by Arthur Luna.  Created with MIND.</p> 
    </footer>

    
</body>
</html>