<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Pagina basic </title>
</head>
<body>
    <header class="text">
        <h1>REDES SOCIAIS</h1>
        <nav class="links">
            <a href="">INSTAGRAN</a>
            <a href="">FACEBOOK</a>
            <a href="">YOUTUBE</a>
            <a href="">WHATSAPP</a>
        </nav>
    </header>
    <main>
        <h1>O QUE A REDE SOCIAL NOS TRAS</h1>
        <p>BENIFICIOS DA REDE SOCIAIS, ONDE PODEMOS APRENDER A CADA DIA. E PODENDO COMPARTILHAR MOMENTOS E SABEDORIAS A TODOS. COM RESPOSABILIDADE</p>
        <input type="digite " placeholder="Digite sobre a rede social"><br>
        <img src="../../assets/image/instagram.png" alt="logo instagram.png">
        <img src="../../assets/facebook.png" alt="logo facebook.png">
        <img src="../../assets/image/video.png" alt="logo youtube.png">
        <img src="../../assets/app.png" alt="logo whatsapp.png">
        <input type="button" value="enviar">
    </main>
    <footer class="bottom">
        <p>© 2024 by Arthur Luna.  Created with MIND.</p> 
    </footer>

    
</body>
</html>